{% extends '::base.html.twig' %}

{% block body %}
    {# menu bar for visitors #}
    {{ include("SistemaSigNewsBundle:Default:news_sidebar_admin.html.twig") }}

    <div class="row-fluid">
        {# sidebar #}
        {{ include("admin_sidebar.html.twig") }}

        <div class="span9">
            <h3>Editando noticia</h3>

            {# messages #}
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">
                    <button data-dismiss="alert" class="close" type="button">x</button>
                    <strong>Hecho</strong>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('info') %}
                <div class="alert alert-info">
                    <button data-dismiss="alert" class="close" type="button">x</button>
                    <strong>Información: </strong>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-error">
                    <button data-dismiss="alert" class="close" type="button">x</button>
                    <strong>Error</strong>
                    {{ flashMessage }}
                </div>
            {% endfor %}

            {# render form #}
            {#{{ form(form) }}#}

            {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_rest(form) }}
                {{ form_row(form.create) }}
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

