{% extends '::base.html.twig' %}

{% block body %}
    {# menu bar for visitors #}
    {{ include("SistemaSigNewsBundle:Default:news_sidebar_admin.html.twig") }}

    <div class="row-fluid">
        {# sidebar #}
        {{ include("admin_sidebar.html.twig") }}

        <!--/span-->
        <div class="span9">
            {# recent new #}
            <div class="hero-unit">
                <div class="row">
                    {% for recentNew in recentNews %}
                        <div class="span7">
                            <h2>{{ recentNew.title }}</h2>

                            <p>
                                <i class="icon-calendar"></i>
                                <small>Publicado en {{ recentNew.publishedDate|date('Y-m-d') }}</small>
                            </p>

                            <p>{{ recentNew.summary }}

                                <a class="btn btn-primary btn-small"
                                   href="{{ path('sistema_sig_news_view', {'newId':recentNew.id}) }}">Ver noticia</a>
                            </p>
                        </div>
                        <div class="span5"><img src="../images/dos.jpg"></div>
                    {% endfor %}
                </div>

            </div>

            {# list of news #}
            {% for newItem in news %}
                <div class="span5">
                    {# new title #}
                    <h4>
                        <a href="{{ path('sistema_sig_news_view', {'newId':newItem.id}) }}">{{ newItem.title }}</a>
                    </h4>

                    {# published date #}
                    <p>
                        <i class="icon-calendar"></i>
                        <small>Publicado en {{ newItem.publishedDate|date('Y-m-d') }}</small>
                    </p>

                    {# summary of new #}
                    <p>{{ newItem.summary }}</p>

                    <p>
                        <a href="{{ path('sistema_sig_news_view', {'newId':newItem.id}) }}" class="btn btn-small">
                            Leer noticia
                        </a>
                    </p>
                </div>
            {% endfor %}

            <div class="row-fluid">
                <div class="span12">
                    <br/><br/>

                    <div class="alert alert-info">
                        <button data-dismiss="alert" class="close" type="button">x</button>
                        No hay mas noticias...
                    </div>
                </div>
            </div>
        </div>
        <!--/span-->
    </div>
{% endblock %}

{% block javascripts %}
    {{ include("SistemaSigNewsBundle:Default:jscripts.html.twig") }}
{% endblock %}
